*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    font-size: 100%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    overflow-x: hidden;
    color: #fff;
    background-image: url(/assets/images/background.jpg);
    font-family: Poppins, sans-serif
}

a, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: inherit
}

p {
    line-height: 1.6;
    font-size: 1.3em;
    font-weight: 400;
    color: #fff
}

h1 {
    font-size: 3.5em;
    line-height: 1
}

h2 {
    font-size: 3em;
    line-height: 1.1
}

h3 {
    font-size: 2.5em
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.2em
}

h6 {
    font-size: .9em;
    letter-spacing: 1px
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    line-height: 1
}

a:active, a:focus, a:hover {
    text-decoration: none;
    color: #ff6c38
}

.display-table {
    display: table;
    height: 80%;
    width: 100%
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle
}

::-webkit-input-placeholder {
    font-size: .9em;
    letter-spacing: 1px
}

::-moz-placeholder {
    font-size: .9em;
    letter-spacing: 1px
}

:-ms-input-placeholder {
    font-size: .9em;
    letter-spacing: 1px
}

:-moz-placeholder {
    font-size: .9em;
    letter-spacing: 1px
}

.main-content {
    position: relative;
    height: 100vh;
    z-index: 1;
    padding: 0 20px;
    background-size: cover;
    color: #fff;
    text-align: center
}

.main-content:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .4;
    background: #000
}

.main-content .subtitle {
    margin: 20px auto;
    max-width: 550px
}

@media only screen and (max-width: 767px) {
    p {
        line-height: 1.4
    }

    h1 {
        font-size: 1.9em;
        line-height: 2
    }

    h2 {
        font-size: 2.2em;
        line-height: 1.1
    }

    h3 {
        font-size: 1.8em
    }

    .main-content {
        padding: 0 !important
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 12px
    }
}
